<!DOCTYPE html>
<html>
<head>
  <title>The Synonym Game</title>

  <link href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="index.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
</head>

<body>
  <div class='container'>
    <div class='row text-center'>
      <div id="game-title" class="center">
        <h1>Welcome to the Synonym Game!</h1>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6 right"><h3>Current Score: <span id="current-score">0</span></h3></div>
      <div class="col-md-6 left"><h3>Total Score: <span id="total-score">0</span></h3></div>

      <br><br><br>

      <div><h3>Time Left: <span id="timer">0</span></h3></div>
    </div>

    <br>

    <div class='row text-center'>

      <input type='submit' id="start-end-game" value="Start Game">
      <!-- <input type='submit' id="end-game" value="End Game" disabled='true'> -->
      <br><br>
      <!-- <label for="word-input">Enter your guess</label> -->
      <input id="word-input" placeholder="Take a Guess!" disabled="true">
      <input type='submit' id='make-guess' value="Guess" disabled="true">
      <div id="selected-word"></div>
    </div>

    <div class='row'>

      <div id="guess-result"><br></div>

      <div class="guess-table left">
        <h3 class='text-center'>Correct Guesses</h3>
        <table class="table table-striped" id="correct-guesses"><col width="15%"><tr></tr></table>
      </div>
      <div class="guess-table left">
        <h3 class='text-center'>Incorrect Guesses</h3>
        <table class="table table-striped" id="incorrect-guesses"><col width="15%"><tr></tr></table>
      </div>
      <div class="guess-table left">
        <h3 class='text-center'>All Synonyms</h3>
        <table class="table table-striped" id="all-synonyms"><col width="15%"><tr></tr></table>
      </div>
    </div>
  </div>

</body>
</html>
