body {
  font-family: 'Raleway', sans-serif;
  background-color: lightblue;
}
table.table tbody tr td.td-left {
  float: left;
}
div.guess-table {
  min-height: 100px;
}
span.gray {
  background-color: gray;
}
.left {
  padding-left: 20px; 
  text-align: left; 
}
.right {
  padding-right: 20px;  
  text-align: right;
}
div#selected-word {
  min-height: 30px;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: bold;
  text-decoration: underline;
}
div#game-title {
  margin-top: 45px;
  font-family: 'Bitter', serif;
}
input {
  font-family: 'Arial';
}
div#guess-result {
  text-align: center;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}

input[type="submit"] {
  border-radius: 3px;
  background-color: lightgray;
}